#navybar{
    display: flex;
    justify-content: space-around;
}
#login{
    display: flex;
    gap: 15%;
}
#button{
    padding: 10px 20px;
    color: white;
    border-radius: 15px;
    background-color: blue;
    margin-top: 3%;
    height: 10%;

}
#button1{
    padding: 2px 2px;
    height: 30%;
    border-radius: 15%;
    background-color: blue;
    width: 60%;
    color: wheat;
    margin-top: 7%;
}
#midpartnavbar{
    display: flex;
    justify-content: space-evenly;
    gap: 30%;
}
#favouritesearch{
    display: flex;
    gap: 30%;
}
#middle{
    display: flex;
    justify-content: space-around;
}
#folowimage{
    display: flex;
    justify-content: space-between;
}

#midbottom{
    text-align: center;
    font-size: x-large;
    
}
.images{
    width: 10%;
    height: 10%;
}
#footer{
    display: flex;
    gap: 90px;

}
.girl{
    height: 80%;
    width: 70%;
    border-radius: 70%;
}
#top part of section{
    font-size: x-large;
}
#largecontainer{
    background-color:white;

    
}

#imlabook{
    display: flex;
}

#bookimage{
    height:20%;
    margin-top: 6%; 
}

.text-input {
    width: 2000px;
    height: 50%;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 20px;
    box-sizing: border-box;
    outline: none;
    font-size: small;
  }

@media screen and (max-width:650px){
    #navybar{
        flex-wrap: wrap;
        
        

    }
   
    #form{
        padding: 3px 5px;
    }
    #middle{
        flex-wrap: wrap;
        font-size: smaller;

    }
    #midpartnavbar{
        flex-wrap: wrap;
       font-size: smaller;
       grid-template-columns: 1fr 1fr;
        
       
       

    }
    #footer{
        flex-wrap: wrap;
        gap:100px;
              
}

.girl{
    height: 60%;
    width: 30%;
    border-radius: 70%;
}
.images{
    
    height: 10%;
}
#button{
    height: 5%;
    width: 29%;
    margin-right: 10%;
}
.h1{
    font-size: smaller;
}
#button1{
    height: 69%;
    width: 90%;
    
}

#bookimage{
    height:10%;
    margin-top: 12%; 
}

}








