#navybar{
    display: flex;
    justify-content: space-around;
}
#login{
    display: flex;
    gap: 15%;
}
#button{
    padding: 10px 20px;
    color: white;
    border-radius: 15px;
    background-color: blue;
    margin-top: 3%;
    height: 10%;

}
#button1{
    padding: 2px 2px;
    height: 40%;
    border-radius: 15%;
    background-color: blue;
    width: 70%;
    color: wheat;
    margin-top: 7%;
}
#midpartnavbar{
    display: flex;
    justify-content: space-evenly;
    gap: 30%;
}
#favouritesearch{
    display: flex;
    gap: 30%;
}
#middle{
    display: flex;
    justify-content: space-around;
}
#folowimage{
    display: flex;
    justify-content: space-between;
}

#midbottom{
    text-align: center;
    font-size: x-large;
    
}
.images{
    width: 10%;
    height: 10%;
}
#footer{
    display: flex;
    gap: 90px;

}
.girl{
    height: 80%;
    width: 70%;
    border-radius: 70%;
}
#top part of section{
    font-size: x-large;
}
#largecontainer{
    background-color:white;
    border-radius: 10%;
    
}
#form{
    background-color: #D3DAEB;
    border-radius: 10%;
    padding: 50px 50px;

}


@media screen and (max-width:650px){
    #navybar{
        flex-wrap: wrap;

    }
   
    #form{
        padding: 10px 10px;
    }
    #middle{
        flex-wrap: wrap;
        font-size: smaller;

    }
    #midpartnavbar{
        flex-wrap: wrap;
       font-size: smaller;
    }
    #footer{
        flex-wrap: wrap;
              
}

.girl{
    height: 60%;
    width: 30%;
    border-radius: 70%;
}
.images{
    
    height: 10%;
}
#button{
    height: 5%;
    width: 29%;
    margin-right: 10%;
}
.h1{
    font-size: smaller;
}
#button1{
    height: 70%;
    width: 90%;
    
}
}
